* {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Bitter", serif;
}

table {
  border: 1px solid black;
}
td {
  border: 1px solid black;
}
